---
- name: "Generate Forgejo Docker Compose file"
  include_role:
    name: utils
    tasks_from: install_docker_compose_raw.yml
  vars:
    container_name: forgejo
    docker_compose_content: |
      networks:
        forgejo-net:
          external: false
        proxy:
          external: true

      services:
        forgejo:
          image: codeberg.org/forgejo/forgejo:7
          container_name: forgejo
          environment:
            - USER_UID=1000
            - USER_GID=1000
            - FORGEJO__database__DB_TYPE=mysql
            - FORGEJO__database__HOST=db:3306
            - FORGEJO__database__NAME=forgejo
            - FORGEJO__database__USER={{ forgejo_db_user }}
            - FORGEJO__database__PASSWD={{ forgejo_db_password }}
            - FORGEJO__server__DOMAIN={{ forgejo_domain }}
          networks:
            - forgejo-net
            - proxy
          volumes:
            - "/docker/forgejo/data:/data"
            - "/etc/timezone:/etc/timezone:ro"
            - "/etc/localtime:/etc/localtime:ro"
          ports:
            - "127.0.0.1:222:22"
          restart: unless-stopped
          depends_on:
            - db
          labels:
            - "traefik.enable=true"
            - "traefik.http.routers.forgejo.rule=Host(`{{ forgejo_domain }}`)"
            - "traefik.http.routers.forgejo.entrypoints=websecure"
            - "traefik.http.routers.forgejo.tls=true"
            - "traefik.http.services.forgejo.loadbalancer.server.port=3000"

        db:
          image: mysql:8
          container_name: forgejo-db
          restart: unless-stopped
          environment:
            - MYSQL_ROOT_PASSWORD={{ forgejo_db_password }}
            - MYSQL_USER={{ forgejo_db_user }}
            - MYSQL_PASSWORD={{ forgejo_db_password }}
            - MYSQL_DATABASE=forgejo
          networks:
            - forgejo-net
          volumes:
            - "/docker/forgejo/mysql:/var/lib/mysql"
