---
- name: "Query Traefik API on each host"
  ansible.builtin.uri:
    url: "http://{{ item }}:8080/api/http/routers"
    method: GET
    return_content: yes
  register: traefik_routers_results
  loop: "{{ traefik_api_hosts }}"
  ignore_errors: true

- name: Process Traefik routes to build a list of CNAME pairs
  ansible.builtin.set_fact:
    cname_pairs: >-
      {{ (item.json |
          community.general.json_query("[?contains(rule, 'Host(`')].rule") |
          map('regex_replace', 'Host\(`(.*?)`\)', '\1') |
          product([item.item]) |
          list
         ) }}
  loop: "{{ traefik_routers_results.results }}"
  when: item.status == 200 and item.json is defined

- name: "Build and sort Pi-hole CNAME records string"
  ansible.builtin.set_fact:
    pihole_cname_records_string: >-
      {{ cname_pairs |
         sort(attribute=0) |
         map('join', ',') |
         join(';') }}

- name: "Generate Pi-hole Docker Compose file for Dockhand"
  include_role:
    name: utils
    tasks_from: install_docker_compose_raw.yml
  vars:
    container_name: pihole
    host: eagle
    docker_compose_content: |
      services:
        pihole:
          image: "{{ PIHOLE_CONTAINER }}"
          container_name: pihole
          environment:
            TZ: "{{ TIMEZONE }}"
            FTLCONF_webserver_api_password: "{{ lookup('env', 'PI_HOLE_ADMIN_PASSWD') }}"
            FTLCONF_dns_cnameRecords: "{{ pihole_cname_records_string }}"
            FTLCONF_dhcp_active: "{{ DHCP_ACTIVE }}"
            FTLCONF_dhcp_ipv6: "true"
            FTLCONF_dhcp_start: "{{ DHCP_START }}"
            FTLCONF_dhcp_end: "{{ DHCP_END }}"
            FTLCONF_dhcp_router: "{{ DHCP_ROUTER }}"
            FTLCONF_dns_upstreams: "{{ DNS_UPSTREAMS }}"
            FTLCONF_dns_listeningMode: "all"
          volumes:
            - '/docker/pihole/etc-pihole:/etc/pihole'
            - '/docker/pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
          ports:
            - "53:53/tcp"
            - "53:53/udp"
          cap_add:
            - NET_ADMIN
          networks:
            - proxy
          restart: unless-stopped
          labels:
            - "traefik.enable=true"
            - "traefik.http.routers.pihole.rule=Host(`pihole.{{ lookup('env', 'MAIN_HOST_NAME') }}`)"
            - "traefik.http.routers.pihole.entrypoints=web"
            - "traefik.http.services.pihole.loadbalancer.server.port=80"
      networks:
        proxy:
          external: true
